In [1]:
import pymongo
from pymongo import MongoClient
import pandas as pd
import csv
from nbi import *

In [2]:
states =  ['31']  
years  =  [2013,2014,2015,2016,2017]
fields =  {"_id":0, 
                         "year":1,           # year of the survey
                         "stateCode":1,      
                         "countyCode":1,
                         "structureNumber":1,
                         "yearBuilt":1,
                         "averageDailyTraffic":1,
                         "deck":1,
                         "substructure":1, ## rating of substructure
                         "superstructure":1, ## rating of superstructure
                         "Structure Type":"$structureTypeMain.kindOfMaterialDesign",
                         "Type of Wearing Surface":"$wearingSurface/ProtectiveSystem.deckProtection",
         }

db = "bridges"
connection_string = "mongodb://research:superSMART1%3A%3A@ist177a-mongo.ist.unomaha.edu/admin"
survey_records = getSurveyRecords(states, years, fields, db, connection_string)

### Number of Records

In [5]:
survey_records.shape

(76749, 11)

### Preview of the survey records of Nebraska

In [6]:
survey_records.head()

,Structure Type,Type of Wearing Surface,averageDailyTraffic,countyCode,deck,stateCode,structureNumber,substructure,superstructure,year,yearBuilt
0,1,0,50,45,5,31,NKA-MF-002,5,6,2013,1990
1,1,0,50,161,7,31,NKA-MF-010,5,7,2013,1990
2,7,0,5,145,5,31,NKA-RW-002,5,5,2013,1955
3,1,0,293,87,6,31,NKA-FCD-002,6,7,2013,1952
4,1,0,150,29,6,31,NKA-FCD-003,7,8,2013,1947

### Compute Age

In [ ]:
Age =  year - yearBuilt 
Age = 0 
if 
yearReconstructed - yearBuilt
## get age of the bridge when

from_to_matrix = {'8-9':'Repair',
                  '7-9':'Repair',
                  '6-9':'Repair / Reconstruction',
                  '5-9':'Repair / Reconstruction',
                  '4-9':'Repair / Reconstruction',
                  '3-9':'Repair / Reconstruction',
                  '2-9':'Repair / Reconstruction',
                  '1-9':'Repair / Reconstruction',
                  '7-8':'Repair',
                  '6-8':'Rehabilitation',
                  '5-8':'Repair / Reconstruction',
                  '4-8':'Repair / Reconstruction',
                  '3-8':'Repair / Reconstruction',
                  '2-8':'Repair / Reconstruction',
                  '1-8':'Repair / Reconstruction',
                  '6-7':'Repair / Reconstruction',
                  '5-7':'Rehabilitation',
                  '4-7':'Rehabilitation',
                  '3-7':'Rehabilitation',
                  '2-7':'Rehabilitation',
                  '1-7':'Rehabilitation',
                  '5-6':'Repair',
                  '4-6':'Rehabilitation',
                  '3-6':'Rehabilitation',
                  '2-6':'Rehabilitation',
                  '1-6':'Rehabilitation',
                  '4-5':'Repair',
                  '3-5':'Rehabilitation',
                  '2-5':'Rehabilitation',
                  '1-5':'Rehabilitation',
                  '3-4':'Repair',
                  '2-4':'Repair',
                  '1-4':'Repair',
                  '2-3':'Repair',
                  '1-3':'Repair',
                  '1-2':'Repair',
                  '0-9':'Reconstruction',
                  '0-8':'Reconstruction',
                  '0-6':'Reconstruction',
                  '0-7':'Reconstruction',
                  '0-5':'Rehabilitation',
                  '0-4':'Rehabilitation',
                  '0-3':'Rehabilitation',
                  '0-2':'Rehabilitation',
                  '0-1':'Rehabilitation'
                 }