In [34]:
import pymongo
from pymongo import MongoClient
import pandas as pd
import csv
from nbi import *

In [35]:
collection = connectToNBI("bridges","mongodb://research:superSMART1%3A%3A@ist177a-mongo.ist.unomaha.edu/admin")

In [39]:
states =  ['31']  
years  =  [2008,2009,2010,2011,2012,2013,2014,2015,2016,2017]
fields =  {"_id":0, 
                         "year":1,           # year of the survey
                         "stateCode":1,      
                         "countyCode":1,
                         "structureNumber":1,
                         "yearBuilt":1,
                         "yearReconstructed":1,
                         "averageDailyTraffic":1,
                         "deck":1,
                         "substructure":1, ## rating of substructure
                         "superstructure":1, ## rating of superstructure
                         "Structure Type":"$structureTypeMain.kindOfMaterialDesign",
                         "Type of Wearing Surface":"$wearingSurface/ProtectiveSystem.deckProtection",
         }

db = "bridsges"
connection_string = "mongodb://research:superSMART1%3A%3A@ist177a-mongo.ist.unomaha.edu/admin"
survey_records = getSurveyRecords(states, years, fields, db, connection_string)

In [ ]:
def retMaterialNames(structure_type_coding):
    """ return kind of material name of the structure type code"""
    
    kind_of_material = {
                            1:"Concrete",
                            2:"Concrete Continuous",
                            3:"Steel",
                            4:"Steel Continuous",
                            5:"Prestressed Concrete",
                            6:"Prestressed Concrete Continuous",
                            7:"Wood or Timber",
                            8:"Masonry",
                            9:"Aluminum, Wrought Iron, or Cast Iron",
                            10:"Other",
                       }
    
    material_names = structure_type_coding.map(kind_of_material)
    
    return material_names

In [ ]:
def retMaterialNames(structure_type_coding):
    """ return kind of material name of the structure type code"""
    
    kind_of_material = {
                            1:"Concrete",
                            2:"Concrete Continuous",
                            3:"Steel",
                            4:"Steel Continuous",
                            5:"Prestressed Concrete",
                            6:"Prestressed Concrete Continuous",
                            7:"Wood or Timber",
                            8:"Masonry",
                            9:"Aluminum, Wrought Iron, or Cast Iron",
                            10:"Other",
                       }
    
    material_names = structure_type_coding.map(kind_of_material)
    
    return material_names

In [37]:
survey_records['year'].unique()

array([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017])

In [38]:
survey_records.head()

,Structure Type,Type of Wearing Surface,averageDailyTraffic,countyCode,deck,stateCode,structureNumber,substructure,superstructure,year,yearBuilt,yearReconstructed
0,1,0,170,63,7,31,NKA-FCD-001,8,8,2008,1949,0
1,1,0,150,29,6,31,NKA-FCD-003,8,8,2008,1947,0
2,1,0,293,87,6,31,NKA-FCD-002,6,7,2008,1952,0
3,1,8,28,173,6,31,00000000000A048,6,6,2008,1967,0
4,5,8,108,173,8,31,00000000000A107,7,7,2008,1981,0

In [12]:
survey_records['Age'] = survey_records['year'] - survey_records['yearBuilt']

In [14]:
survey_records['Age'].unique()

array([  59,   61,   56,   41,   27,   30,   25,   28,   58,   15,   18,
         13,   73,   43,    9,   38,   46,   40,   22,   34,   83,   21,
         23,    3,   71,    4,   49,   33,    7,   20,   50,   84,   29,
         48,    5,   92,   78,    2,   42,   36,   14,   17,   47,   19,
         11,   16,    8,   24,   12,   10,   26,    1,   39,   53,   97,
         96,   98,   31,   32,   63,   51,   45,   90,    6,   93,   67,
         52,   65,   35,   37,   88,   68,   79,   55,   72,  101,   81,
         74,   70,    0,   99,   54,   60,  117,  103,  111,   44,  108,
         95,  105,  109,   62,   86,   91,   75,   76,   69,   94,   80,
         77,   82,   89,   85,  100,   57,   87,   66,  115,   64,  102,
        107,  119,  113,  104,  120,  118,  112,  106,  110,  116,  114,
        121,  122,  123,  124,  125,  126,  127,  128, 2018,  129])

### Computing Exposure

In [31]:
exposure_data = {age:0 for age in range(1,101)}
for age in survey_records['Age']:
    if age in exposure_data:
        exposure_data[age] += 1

## STEPS

### Choose study window. 
### Choose starting year.
### Create timeseries of the bridge
### Calculate the age of the bridges.
### Split bridge records
    (solves problem of exit and re-enter of bridge into the study) 
    for every split of the record, record the cause of the split:  Rep/Rec/Rehab
###    Eg: [9,8,7]       [1,2,3] 
        ,8,7] [4,5]  ## Include a condition where, 
###          

### Compute Exposure: Count number of ages of the bridges.
### Exit criteria:  Filter bridges with only Reconstruction as the cause of the split.
### Compute Exit: count number of Last seen age + 1 of the bridges.
### Create functions where we have flexibility to select bridge according to the criteria,  sper

In [33]:
exposure_data

{1: 787,
 2: 1125,
 3: 1301,
 4: 1458,
 5: 1567,
 6: 1640,
 7: 1744,
 8: 1823,
 9: 1851,
 10: 1966,
 11: 1976,
 12: 2020,
 13: 2046,
 14: 2044,
 15: 2030,
 16: 2143,
 17: 2193,
 18: 2232,
 19: 2303,
 20: 2313,
 21: 2407,
 22: 2449,
 23: 2519,
 24: 2523,
 25: 2570,
 26: 2458,
 27: 2417,
 28: 2378,
 29: 2318,
 30: 2302,
 31: 2232,
 32: 2140,
 33: 2091,
 34: 2062,
 35: 1953,
 36: 1884,
 37: 1812,
 38: 1929,
 39: 1838,
 40: 1697,
 41: 1615,
 42: 1677,
 43: 1658,
 44: 1592,
 45: 1704,
 46: 1732,
 47: 1773,
 48: 1748,
 49: 1704,
 50: 1663,
 51: 1633,
 52: 1518,
 53: 1446,
 54: 1346,
 55: 1131,
 56: 1031,
 57: 915,
 58: 966,
 59: 900,
 60: 833,
 61: 763,
 62: 731,
 63: 620,
 64: 577,
 65: 542,
 66: 497,
 67: 490,
 68: 442,
 69: 447,
 70: 493,
 71: 507,
 72: 528,
 73: 3961,
 74: 3905,
 75: 3763,
 76: 3711,
 77: 3642,
 78: 3470,
 79: 3347,
 80: 3168,
 81: 3073,
 82: 2970,
 83: 351,
 84: 318,
 85: 285,
 86: 246,
 87: 208,
 88: 191,
 89: 178,
 90: 173,
 91: 153,
 92: 154,
 93: 172,
 94: 165,
 95: 160,
 96: 157,
 97: 159,
 98: 170,
 99: 168,
 100: 156}

###  Creating Timeseries of the Bridges